{% extends 'base.html' %}{% load static %} {% block page_header %}
<div class="page-header"></div>
{% endblock %} {% block content %}
<div class="container">
  <div class="row border-grey">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            method="GET"
            href="{% url 'game_details' game.id%}"
            >Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            method="GET"
            href="{% url 'get_twitch' game.id%}"
            >Twitch</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
  <div class="col-12"><h5 class="my-5">
      Here are the Top Streamers for {{ game.name }}. Click your favourite <strong>Channel</strong>
      to see more!
    </h5></div>    
    {% if streams %} {% for object in streams %}
    <div class="col-12 col-md-6 col-lg-4 card mb-3">
      <div class="card-body">
        <h5 class="card-title"> Channel - <a href="{% url 'get_stream' game.id object.username %}"
        >{{ object.title }}
        </a></h5>
      </div>
      <a href="{% url 'get_stream' game.id object.username %}"><img class="stream-image" src="{{object.thumbnail}}" /></a>
      <div class="card-body">
        <p class="card-text">
          Streamer - {{ object.username }}<br />
        </p>
      </div>
    </div>
    {% endfor %} {% endif %} {% if 'err' %} {{ err }} {% endif %}
  </div>
  {% endblock %}
</div>
