{% extends 'base.html' %}
{% load static %}
{% block head_title %}
GameSpace for the sale and purchase of video games on a variety of consoles.
{% endblock %}
{% block page_header %}
<div class="page-header">
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col-12 text-center">
            <h1 class="my-3"> Where <strong>Fun</strong> Happens</h1>
            <a class="btn btn-info mr-2" href="{% url 'account_signup' %}"> Register </a>
            <a class="btn btn-success ml-2" href="{% url 'games'%}"> Browse the Store </a>
            
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-4 text-center">
            <h3 class="mt-3">Shop</h3>
            <i class="fab fa-xbox fa-6x mt-3"></i>
            <i class="fas fa-desktop fa-6x mt-1 mx-2"></i>
            <i class="fab fa-playstation fa-6x mt-3"></i>
            <p class="mt-3"> With tonnes to choose from on a variety of consoles, we have something for everyone </p>
        </div>
        <div class="col-12 col-md-4 mt-5 text-center">
            <h3 class="mt-3"> Play </h3>
            <i class="fas fa-play fa-6x my-3"></i>
            <p> With free deliveries on orders over £50 and heaps of deals to be had, gaming will never be the same. </p>
            <p class="text-warning">Try Discount Code PSTN20OFF0 for 20% OFF all Playstation games! Offer Ends Soon!</p>
        </div>
        <div class="col-12 col-md-4 text-center">
            <h3 class="mt-3"> Watch </h3>
            <i class="fab fa-twitch fa-6x my-3"></i>
            <p> Cant decide on a game? Watch the pros go at it live on Twitch right here! </p>
        </div>
        
    </div>
</div>

{% endblock %}