{% extends 'base.html' %} {% load static %}{% load bag_tools %}
{% block extra_css %}
{{ load.super }}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}" />
{% endblock %}
{% block extra_js %}
{{ load.super }}
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
{% endblock %}
{% block page_header %}
<div class="page-header"></div>
{% endblock %} {% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h4>My Profile</h4>
			<hr>
		</div>
	</div>
	<div class="row">
		<!--  Some parts taken from CI Ecommerce project - edited -->
		<div class="col-12 col-md-4">
			<h5 class="mb-2"> Welcome, {{ profile.user }}</h5>
			{% if profile.user_image %}
			<div class="profile-image-container">
				<img class="user-image" src="{{ profile.user_image.url}}"/>
            </div>
            <form enctype="multipart/form-data" method="POST" action="{% url 'add_profile_photo' %}" name="profile-image-form">
            {% csrf_token %}
			<div class="form-group mt-2">
                <p> Current File: <a class="display-inline" target="_blank" href="{{ profile.user_image.url }}">{{ profile.user_image }}</a></p>
				<label for="ProfileImageInputFile">Change your profile image here. </label>
				<input name="user_image" type="file" class="form-control-file" id="ProfileImageInputFile" aria-describedby="fileHelp" value="{{profile.user_image.url}}">
            </div>
            <button class="btn btn-success float-left" type="submit">Change Profile Photo</button>
            </form>
            {% else %}
            <div class="placeholder-image my-2"><i class="fas fa-user-circle fa-9x"></i></div>
            <form enctype="multipart/form-data" method="POST" action="{% url 'add_profile_photo' %}" name="profile-image-form">
            {% csrf_token %}
			<div class="form-group mt-2">
				<label for="ProfileImageInputFile">Upload your profile image here. </label>
				<input name="user_image" type="file" class="form-control-file" id="ProfileImageInputFile" aria-describedby="fileHelp">
            </div>
            <button class="btn btn-success float-left" type="submit">Upload Profile Photo</button>
            </form>
            {% endif %}
            
				

			</div>
			<div class="col-12 col-md-8">
				<h5 class="my-3"> Default Delivery Information </h5>
				<hr>
				<form class="profile-update-form" action="{% url 'profile'%}" method="POST">
					{% csrf_token %}
					{% for fields in form %}
					<div class="form-group">
						{{ fields }}
					</div>
					{% endfor %}
					<button type="submit" class="btn btn-success"> Save Changes </button>
				</form>
			</div>

		</div>
		<hr>
		<div class="row">
        <div class="col-12">
			<h5 class="my-2"> Order History</h5>
        </div>
                {% if orders %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th> Order Number </th>
                        <th class="d-none d-md-block"> Date </th>
                        <th> Total </th>
                        <th></th>
                        </tr>
                    </thead>
                    {% for order in orders %}
                    <tr class="table-primary">
                        <td> <a href="{% url 'order_history' order.order_number %}">{{ order.order_number|truncatechars:10}}</a></td>
                        <td class="d-none d-md-block"> {{ order.date }} </td>
                        <td> {% if order.discount %}
                            Delivery: £{{ order.delivery_cost|floatformat:2}}<br>
							Grand Total: <del> £{{ order.grand_total|floatformat:2 }} </del>
							£{{ order.discount_total|floatformat:2 }}</h5>
							<br> {{ order.discount }} - applied successfully!
                            {% else %}
                            Delivery: £{{ order.delivery_cost|floatformat:2}}<br>
                            Grand Total: £{{ order.grand_total|floatformat:2 }}
                            {% endif %}</td>
                        <td><a id="button_{{order.order_number}}" onclick="toggleDetails('{{order.order_number}}')" class="btn btn-secondary float-right"> View details <i class="fas fa-arrow-down"></i></a></td>
                    </tr>
                    <tbody id="{{order.order_number}}" class="d-none">
                    <tr>
                        <th>Item Name</th>
                        <th>Price/Quantity</th>
                        <th>Subtotal</th>
                        <th class="d-none d-md-block"></th>
                    </tr>
                    {% for item in order.lineitems.all %}
                    <tr class="table-secondary">
                        <td class="w-25">{{ item.game.name }} on {{ item.game_console.friendly_name }}</td>
                        <td class="w-25">{% if item.discount %}£{{ item.total_after_discount|calc_priceperunit:item.quantity|floatformat:2 }} x {{ item.quantity }} {% else %} £{{ item.game.price }} x {{ item.quantity }} {% endif %}</td>
                        <td class="w-25">{% if item.discount %}£{{ item.total_after_discount|floatformat:2 }}{% else %}£{{ item.game.price |calc_subtotal:item.quantity| floatformat:2 }}{% endif %}</td>
                        <td class="d-none d-md-block"><img class="img-fluid rounded" src="{{item.game.image.url}}"/></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <div class="col-12">
                <h4> You have not yet places any orders </h4>
                </div>
                {% endif %}
            </div>
            </div>
			{% endblock %}

{% block postloadjs %}
            {{ block.super }} 
            <script src="{% static 'js/form-input.js' %}" type="text/javascript"></script>
            <script src="{% static 'profiles/js/toggle_details.js' %}" type="text/javascript"></script>
{% endblock %}