.logo-text{
  text-transform: uppercase;
}


.text-grey{
  color: #cccccc;
}

.search{
  width:70%;
}

.page-header{
    height: 150px
}

@media (max-width: 991px) {
    .page-header{
    height: 180px
}
}