{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="page-header"></div>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 my-2">
            <p>{{ games | length}} Games {% if search_term %} found for '{{ search_term }}'{% endif %}</p>
        </div>
        <div class="col-md-4">
            <div class="form-group">
            <select id="sort-selector" class="custom-select rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="genre_asc" {% if current_sorting == 'genre_asc' %}selected{% endif %}>Genre(A-Z)</option>
                <option value="genre_desc" {% if current_sorting == 'genre_desc' %}selected{% endif %}>Genre (Z-A)</option>
            </select>
        </div>
        </div>
    </div>
  <div class="row">
    {% for game in games %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-primary mb-3">
        <a href="{% url 'game_details' game.id%}">
        {% if game.image %}
        <img
          class="rounded"
          style="height: 200px; width: 100%; display: block;"
          src="{{game.image.url}}"
          alt="{{game.name}}"
        />
        {% else %}
        <img class="rounded" style="height: 200px; width: 100%; display: block;" src="{{ MEDIA_URL }}noimage.png" alt="{{ game.name }}">
        {% endif %}
        </a>
        <div class="card-body game-card">
          <a href="{% url 'game_details' game.id%}"
            class="text-center text-grey"
            ><h5 class="card-title game-name mb-3">{{ game.name }}</h5></a
          >

          <p class="card-text">
            Genres: {% for genre in game.genres.all %}
            <a class="game-name text-grey" href="{% url 'games'%}?q={{genre.name}}">{{ genre.friendly_name }}</a>
            
            {% endfor %}
          </p>

          <p class="card-text">
            Consoles: {% for console in game.consoles.all %}
            <a class="game-name text-grey" href="{% url 'games'%}?q={{console.name}}"
              >{{ console.friendly_name }}</a
            >
            {% endfor %}
          </p>
          <ul class="card-text list-unstyled">
            {% if game.special_offer %}
            <li>
              <p>
                Price:
                <del class="text-muted"> £{{ game.original_price }} </del>
                <i class="fas fa-arrow-right"></i>
                <strong> £{{game.price}} </strong> ({{game.offer_percentage}}%
                OFF!)
              </p>
            </li>
            {% else %}
            <li><p>Price - £{{ game.price}}</p></li>
            {% endif %}
            <li class="text-muted">
              Rating - {{ game.rating }}/100 <br />
              Publisher - {{ game.publisher }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Taken from CI ECommerce project -->
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none my-1">
      <hr />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:2 %}
    <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-1">
      <hr />
    </div>
    {% endif %} {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-lg-block my-1">
      <hr />
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
{% endblock %}
{% block postloadjs %}
<!-- taken from https://courses.codeinstitute.net/courses/course-v1:CodeInstitute+FSF_102+Q1_2020/courseware/4201818c00aa4ba3a0dae243725f6e32/565adb80d90e4a54b1f5966c5dae5dcb/?child=first -->
{{ block.super }}
<script type="text/javascript">
 $("#sort-selector").change(function(){
     var selector = $(this);
     var currentURL = new URL(window.location);

     var selectedVal = selector.val();
     if(selectedVal != 'reset'){
         var sort = selectedVal.split('_')[0];
         var direction = selectedVal.split('_')[1];

         currentURL.searchParams.set('sort', sort);
         currentURL.searchParams.set('direction', direction)

         window.location.replace(currentURL);
     }else{
         currentURL.searchParams.delete('sort');
         currentURL.searchParams.delete('direction');

         window.location.replace(currentURL);
     }
 })
</script>
{% endblock %}