<div class="col-12 d-lg-none text-center">
					<a class="navbar-brand  mx-auto logo-link" href="{% url 'home' %}">
						<h2 class="logo-text text-grey mt-2"><strong>Game</strong><i>Space</i></h2>
          </a>
        </div>
      
            <nav class="navbar d-lg-none navbar-dark bg-primary w-100">
                <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <li class="list-inline-item dropdown">
						    <a class="nav-link text-grey" href="" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="text-center d-block d-lg-none">
								<div><i class="fas fa-user fa-lg text-grey"></i></div>
                  <p class="my-0 text-grey">My Account</p>
                </div>
              </a>
              <div class="dropdown-menu border-0 bg-primary" aria-labelledby="user-options">
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <a href="" class="dropdown-item text-grey">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item text-grey">My Profile</a>
                <a href="" class="dropdown-item text-grey">Logout</a>      
                {% else %}      
                <a href="" class="dropdown-item text-grey">Register</a>
                <a href="" class="dropdown-item text-grey">Login</a>
                {% endif %}
              </div>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'get_bag' %}" class="d-flex d-lg-none mr-3">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg text-grey"></i></div>
                    <p class="text-grey my-0">
                      {% if total %}
                    £{{ total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                    </p>
                  </div>
                  </a>
                </li>
            <!-- Mobile Nav  -->
              <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav w-auto mx-auto d-block d-lg-none">
                    <li class="nav-item dropdown">
                      <a href="{% url 'home' %}" class="dropdown-item">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a href="{% url 'games' %}" class="dropdown-item">Games</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a href="" class="dropdown-item">About</a>
                    </li>
                    <li class="nav-item dropdown">
							          <div class="col-12">
                          <form class="form-inline my-0 my-lg-0"  method="GET" action="{% url 'games' %}">
                          <input class="form-control w-80 search" type="text" placeholder="Search"/>
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                          </form>
                        </div>
                    </li>
                  </ul>
              </div>
              
            </nav>