<a href="#" onclick="openNav()" class="btn btn-primary p-3 button-collapse"><i
  class="fas fa-bars"></i></a>

<div id="mySidenav" class="sidenav navbar-dark">
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h5>Consoles</h5>
    <ul class="list-unstyled">
        <li><a class="nav-link dropdown-item" href=""> PS4</a></li>
        <li><a class="nav-link dropdown-item" href=""> XBOX-ONE</a></li>
        <li><a class="nav-link dropdown-item" href=""> PC</a></li>
        <li><a class="nav-link dropdown-item" href=""> Switch</a></li>
    </ul>
    <h5>Genres</h5>
    <ul class="list-unstyled">
        <li><a class="nav-link dropdown-item" href=""> PS4</a></li>
        <li><a class="nav-link dropdown-item" href=""> XBOX-ONE</a></li>
        <li><a class="nav-link dropdown-item" href=""> PC</a></li>
        <li><a class="nav-link dropdown-item" href=""> Switch</a></li>
    </ul>
</div>