<ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link {% if not streams and not username %} active {% endif %}"
            method="GET"
            href="{% url 'game_details' game.id%}"
            >Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if streams or username %} active {% endif %} "
            method="GET"
            href="{% url 'get_twitch' game.id%}"
            >Twitch</a
          >
        </li>
      </ul>