{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% endblock %} {% block extra_head %} {% endblock %} {% block css %}
    <!-- Bootswatch Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
      integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN"
      crossorigin="anonymous"
    />
    <!-- Google Fonts CSS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    {% endblock %} {% block corejs %}
    <!-- FontAwesome JS-->
    <script
      src="https://kit.fontawesome.com/b3365ba79c.js"
      crossorigin="anonymous"
    ></script>
    <!-- JQUERY JS-->
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <!-- Popper JS-->

    <!-- Bootrap JS-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="topnav" class="row d-none d-lg-flex row navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="col-lg-3">
          <div class="row">
            <div class="col-12">
              <ul class="list-unstyled navbar-nav">
                <li class="list-inline-item ml-2">
                  <a href="" class="text-grey nav-link">Home</a>
                </li>
                <li class="list-inline-item mx-3">
                  <a href="{% url 'games' %}" class="text-grey nav-link">Games</a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="text-grey nav-link">About</a>
                </li>
              </ul>
              <div class="col-12">
                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'games' %}">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q"/>
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center mr-auto my-auto">
            <a class="navbar-brand" href="#">
              <h2 class="logo-text text-grey">
                <strong>Game</strong><i>Space</i>
              </h2>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <ul class="list-unstyled pb-0 mb-2 float-right">
            <li class="list-inline-item dropdown">
              <a
                class="nav-link text-grey"
                href=""
                id="user-options"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg text-grey"></i></div>
                  <p class="my-0 text-grey">My Account</p>
                </div>
              </a>
              <div
                class="dropdown-menu border-0 bg-primary"
                aria-labelledby="user-options"
              >
                <a href="" class="dropdown-item text-grey"
                  >Product Management</a
                >
                <a href="" class="dropdown-item text-grey">My Profile</a>
                <a href="" class="dropdown-item text-grey">Logout</a>
                <a href="" class="dropdown-item text-grey">Register</a>
                <a href="" class="dropdown-item text-grey">Login</a>
              </div>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'get_bag' %}">
                <div class="text-center">
                  <div><i class="fas fa-shopping-bag fa-lg text-grey"></i></div>
                  <p class="text-grey my-0">
                  {% if total %}
                    £{{ total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        {% include 'includes/mobile-nav.html' %}
      </div>
      <div class="row"> 
        {% include 'includes/side-nav.html' %}
      </div>
    </header>
    {% if messages %}
    <div class="message-container"></div>
    {% endif %} 

    {% block page_header %} 
    {% endblock %} 
    

    {% block content %} 
    {% endblock %}

    {% block postloadjs %}

    <script type="text/javascript" src="{% static 'js/side-nav.js'%}"></script>
    {% endblock %}
  </body>
</html>
